@import "tailwindcss";
@import "./fonts.css";
@import "./grid-pattern.css";
@import "./dot-pattern.css";
@import "./html-content.css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
  --font-heading: "Sora", ui-sans-serif, system-ui, sans-serif;
  --font-sans: "Geist", sans-serif;
  --animate-gradient: gradient 8s linear infinite;
  @keyframes gradient {
    to {
      background-position: 200% center;
    }
  }
}

[x-cloak] {
  display: none !important;
}

.bg-pattern {
  background:
    linear-gradient(45deg, #0000 71%, #94a3b8 0 79%, #0000 0) calc(69px / -2)
      calc(69px / 2) / calc(2 * 69px) calc(2 * 69px),
    linear-gradient(135deg, #0000 71%, #94a3b8 0 79%, #0000 0) calc(69px / 2)
      calc(69px / 2) / calc(2 * 69px) calc(2 * 69px),
    radial-gradient(#94a3b8 35%, #f1f5f9 37%) 0 0/69px 69px;
}

.bg-box {
  --s: 300px;
  --c1: #334155;
  --c2: #1e293b;

  --_g: #0000 90deg, var(--c1) 0;
  background:
    conic-gradient(from 90deg at 2px 2px, var(--_g)),
    conic-gradient(from 90deg at 1px 1px, var(--_g)), var(--c2);
  background-size:
    var(--s) var(--s),
    calc(var(--s) / 5) calc(var(--s) / 5);
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Edge */
}
.no-scrollbar {
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}
